<h1>All Instructors</h1>

    <% @instructors.each do |instructor| %>
      <ol>
        <li>
          <%= link_to instructor.full_name, instructor_path(instructor) %>
          <div class="display_review">
          </div>
        </li>
      </ol>
    <% end %>
