<% content_for :head do %>
  <%= javascript_include_tag "courses_index" %>
<% end %>

<div class="course-header">
  <div class="container">
    <h1 class="course-title">Courses</h1>
  </div>
</div>

  <div class="blog-post">
      <%= page_entries_info @courses %>
      <%= paginate @courses, window: 2 %>
      <div class="courses">
        <ol id=indexCourses>
        </ol>
      </div>
  </div>
