<ol>
  <% @reviews.each do |review| %>
    <li><%= link_to "Show review", course_review_path(@course, review), :class => "review_link", :id => review.id%></li>
    <div class="display_review">
    </div>
  <% end %>
</ol>
